<!DOCTYPE html>
<html>


<body>
<h2>STUDENT DETAILS</h2>

<form action="student_core.html" method="get" target="_blank">
  Name: <input type="text" name="name"><br>
  Gender: <input type="text" name="gender"><br>
  Moblie Number: <input type="text" name="mob"><br>
  Class/Year: <input type="text" name="class"><br>
  Division: <input type="text" name="div"><br>
  SAP: <input type="text" name="sap"><br>
  E-Mail: <input type="text" name="mail"><br>
  Password: <input type="text" name="password"><br>
  Confirm Password: <input type="text" name="cpassword"><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>
